PORT=3000
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
MONGODB_URI=
JWT_SECRET=
JWT_LIFESPAN=
POLAR_CLIENT_ID=
POLAR_CLIENT_SECRET=
POLAR_REDIRECT_URI=http://localhost:3000/api/polar/callback