PORT=3000                                                 
CORS_ORIGIN=
NODE_ENV=development
MONGODB_URI=                     
JWT_SECRET=                                                                                                                                                                                                
JWT_LIFESPAN=
POLAR_CLIENT_ID=
POLAR_CLIENT_SECRET=
POLAR_REDIRECT_URI=